.header {
  display: flex;
  column-gap: 45px;
  margin: 45px auto;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 968px) {
  .header {
    padding-bottom: 30px;
    margin: 30px auto;
  }
}

@media screen and (max-width: 638px) {
  .header {
    flex-direction: column;
    row-gap: 20px;
  }
}
