.header__avatar {
  font-size: 0;
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
  max-width: 200px;
}

@media screen and (max-width: 968px) {
  .header__avatar {
    max-width: 160px;
  }
}

@media screen and (max-width: 638px) {
  .header__avatar {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
