.header__heading {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
}

@media screen and (max-width: 968px) {
  .header__heading {
    font-size: 36px;
  }
}

@media screen and (max-width: 638px) {
  .header__heading {
    text-align: center;
  }
}
