.header__text {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  color: #545454;
}

@media screen and (max-width: 968px) {
  .header__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 638px) {
  .header__text {
    text-align: center;
  }
}
