.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 0;
  display: inline-block;
  vertical-align: bottom;
}

.checkbox__input::after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox__input:checked::after {
  border-color: #e63d0a;
  background-color: #f87c56;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.checkbox__input:not(:disabled):not(:checked):hover::after {
  border-color: #fbb39d;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox__input:not(:disabled):active::after {
  background-color: #fbb39d;
  border-color: #fbb39d;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox__input:focus::after {
  -webkit-box-shadow: 0 0 0 2px rgba(248, 124, 86, 0.4);
  box-shadow: 0 0 0 2px rgba(248, 124, 86, 0.4);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox__input:focus:not(:checked)::after {
  border-color: #fdd5c9;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox__input:disabled::after {
  background-color: #e9ecef;
}
